In [ ]:
# 1. write code by your self
# 2. practice by yourself

In [1]:
print("hello world")

hello world

In [2]:
sam = "Tony Stark"

In [3]:
print(sam[0])

T

In [4]:
print(sam[-1])

k

In [6]:
## Slicing
print(sam[0:6])

Tony S

In [10]:
print(sam[-6:-1])

 Star

In [15]:
print(sam[-10:-6])

Tony

In [11]:
print("rio" * 2)

riorio

In [13]:
## concatination
a = "rio"
b = "dan"
print(a + " " + b)

rio dan

In [10]:
## List 
my_list = [1,2,'sam',[4,5,6],'rio',2.3,'S','w']

In [11]:
print(my_list)

[1, 2, 'sam', [4, 5, 6], 'rio', 2.3, 'S', 'w']

In [12]:
my_list[3]

[4, 5, 6]

In [13]:
my_list[6]

'S'

In [14]:
my_list[3]

[4, 5, 6]

In [15]:
## add at last
my_list.append('six')

In [16]:
my_list

[1, 2, 'sam', [4, 5, 6], 'rio', 2.3, 'S', 'w', 'six']

In [17]:
## extend function
my_list.extend([8,9,6])

In [18]:
my_list

[1, 2, 'sam', [4, 5, 6], 'rio', 2.3, 'S', 'w', 'six', 8, 9, 6]

In [20]:
l = list(range(10))

In [21]:
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [22]:
my_list[2:6]

['sam', [4, 5, 6], 'rio', 2.3]

In [25]:
my_list[-6:-1]

['S', 'w', 'six', 8, 9]

In [26]:
my_list[0:7:2]

[1, 'sam', 'rio', 'S']

In [27]:
## Dictionary

In [28]:
my_dict = {'key1':'value1', 'key2':'value2', 'key3':'value3'}

In [83]:
my_dict

{'key1': '123', 'key2': 'value2', 'key3': 'value3', 'key4': 'value4'}

In [84]:
for x in my_dict:
    print(x)

key1
key2
key3
key4

In [32]:
my_dict['key1'] = '123'

In [33]:
my_dict

{'key1': '123', 'key2': 'value2', 'key3': 'value3'}

In [35]:
my_dict['key4']='value4'
my_dict

{'key1': '123', 'key2': 'value2', 'key3': 'value3', 'key4': 'value4'}

In [37]:
dict = {'name':["rio", "jac", "sanu"], 'surname':["sang", "sparrow", "sen"], 'age':[18, 21, 24]}
dict

{'name': ['rio', 'jac', 'sanu'],
 'surname': ['sang', 'sparrow', 'sen'],
 'age': [18, 21, 24]}

In [39]:
dict['surname']

['sang', 'sparrow', 'sen']

In [40]:
d = {}

In [42]:
d['name'] = "doggy"

In [43]:
d

{'name': 'doggy'}

In [44]:
## set

In [68]:
set1 = {1,1,1,1,2,2,2,3,3,3,3,}

In [69]:
set1

{1, 2, 3}

In [70]:
set1.add(4)

In [71]:
set1

{1, 2, 3, 4}

In [72]:
set1.add(32)
set1

{1, 2, 3, 4, 32}

In [74]:
ln = [1,1,1,2,2,2,2,3,3,3,3,4,4,4,5,5,5,5,6,6]

In [75]:
ln

[1, 1, 1, 2, 2, 2, 2, 3, 3, 3, 3, 4, 4, 4, 5, 5, 5, 5, 6, 6]

In [76]:
set(ln)

TypeError: 'set' object is not callable

In [77]:
## tuple

In [78]:
thistuple = ('rio', 23, 'sinu')
thistuple

('rio', 23, 'sinu')

In [79]:
thistuple[0]

'rio'

In [81]:
thistuple = ("asu", "chnu")

In [82]:
thistuple

('asu', 'chnu')

In [85]:
## loops

In [86]:
## in for loop we cannot give condition
for i in range(10):
    print("Hello Darshil")

Hello Darshil
Hello Darshil
Hello Darshil
Hello Darshil
Hello Darshil
Hello Darshil
Hello Darshil
Hello Darshil
Hello Darshil
Hello Darshil

In [87]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [90]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [91]:
users = list(range(10))

In [92]:
for user in users:
    print(f"This is {user}  user")

This is 0  user
This is 1  user
This is 2  user
This is 3  user
This is 4  user
This is 5  user
This is 6  user
This is 7  user
This is 8  user
This is 9  user

In [96]:
list_1 = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]

for number in list_1:
    if number % 2 == 0:
        #print(number)
        print(f"This is an even number {number}")
    else:
        print(f"This is an odd number {number}")

This is an odd number 1
This is an even number 2
This is an odd number 3
This is an even number 4
This is an odd number 5
This is an even number 6
This is an odd number 7
This is an even number 8
This is an odd number 9
This is an even number 10
This is an odd number 11
This is an even number 12
This is an odd number 13
This is an even number 14
This is an odd number 15

In [103]:
list_2 = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]

for x in list_2:
    print(x)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

In [102]:
## in whille loop we give condition
x = 1

while x <= 10:
    print(x)
    x = x + 1

1
2
3
4
5
6
7
8
9
10

In [104]:
## module

In [107]:
import math
math.pow(2,2)

4.0

In [115]:
names = ["Ravi", "Pooja", "Vijay", "Kiran"]
for name in names:
    print(f"Hello {name}")

Hello Ravi
Hello Pooja
Hello Vijay
Hello Kiran

In [117]:
new_list = []
for name in names:
    new_list.append("Hello " + name)
new_list

['Hello Ravi', 'Hello Pooja', 'Hello Vijay', 'Hello Kiran']

In [ ]:
## In one step with list comprehension

In [114]:
names = ["Ravi", "Pooja", "Vijay", "Kiran"]
hello = ["Hello " + name for name in names]
print(hello)

['Hello Ravi', 'Hello Pooja', 'Hello Vijay', 'Hello Kiran']

In [126]:
numbers = [22,43,23,55,44,23,77,]
even = [num for num in numbers if num % 2 == 0]
print(even)

odd = [num for num in numbers if num % 2 == 1]
print(odd)

[22, 44]
[43, 23, 55, 23, 77]

In [128]:
ls = [x**2 for x in range(3)]
print(ls)

[0, 1, 4]

In [121]:
# Exception Handling

In [122]:
try:
    x = 1 / 0
except ZeroDivisionError:
    print("Devided by zero")
    print("Executed when exception occur")
else:
    print("Executed only when exception does not occur")
finally:
    print("Finally block, Always executed")

Devided by zero
Executed when exception occur
Finally block, Always executed

In [124]:
try:
    x = 1 / 0
except ZeroDivisionError:
    print("Devided by zero")
    print("Executed when exception occur")

Devided by zero
Executed when exception occur

In [125]:
print("Hello World")

try:
    1/0
except ZeroDivisionError:
    print("Exception Occured")

print("Bye World")

Hello World
Exception Occured
Bye World

In [129]:
try:
    10 / 0
except:
    print("Executed when exception occur")

Executed when exception occur

In [130]:
## working with file

In [133]:
### write in new file 
with open("myfile.txt", 'w') as f:
    f.write("This is the first line \n")
    f.write("This is the second line \n")

In [134]:
### append in file
with open("myfile.txt", 'a') as f:
    f.write("This is the last line \n")

In [137]:
### read the file
with open("myfile.txt", 'r') as f:
    for line in f:
        print(line)

This is the first line

This is the second line

This is the last line

In [138]:
# Functions

In [139]:
def say_hello():
    print("Hello")

say_hello()

Hello

In [140]:
def add(first, second):
    print(first + second)
add(4,6)

10

In [142]:
## default arguments
def mul(first, second=2):
    print(first * second)
mul(4)

8

In [148]:
mul(3)

6

In [145]:
def double_num(num = 4):
    return num * 2
double_num()

8

In [146]:
double_num(6)

12

In [ ]:
## concept of args

In [149]:
def database_column(*args):
    for arg in args:
        print(arg)

In [150]:
database_column("name", "Surname", "Salary", "Age")

name
Surname
Salary
Age

In [156]:
def database_columns(**kwargs):
    for value in kwargs.items():
        print(value)

In [157]:
database_columns(name="Rio", Surname="Sang")

('name', 'Rio')
('Surname', 'Sang')

In [158]:
def my_name(name):
    return name

In [159]:
my_name("Namya")

'Namya'

In [161]:
naam = my_name("Nio")

In [162]:
naam

'Nio'

In [163]:
### lambda function
square_lambda = lambda num : num ** 2

In [164]:
square_lambda(3)

9

In [ ]:
#OOPS

In [169]:
s = "my name is Rio"

In [170]:
s.upper()

'MY NAME IS RIO'

In [171]:
type(s)

str

In [173]:
print(type(1))
print(type([]))
print(type(()))
print(type({}))

<class 'int'>
<class 'list'>
<class 'tuple'>
<class 'dict'>

In [175]:
class Sample():
    pass
# Instance of sample
x = Sample()

print(type(x))  # object of sample class

<class '__main__.Sample'>

In [179]:
class Dog(object):
    def __init__ (self, breed):
        self.breed = breed
sam = Dog(breed = "Lab")
nam = Dog(breed = "Huskie")

In [180]:
sam.breed

'Lab'

In [181]:
nam.breed

'Huskie'

In [197]:
class Circle(object):
    pi = 3.14
    
    def __init__(self, radius=1):
        self.radius = radius

    def area(self):
        return self.radius * self.radius * Circle.pi

c = Circle(4)
print("Area is ", c.area())

Area is  50.24

In [198]:
class Student: 
    #class variable
    school_name = 'ABC School'

    #constructor
    def __init__(self, name, age):
        #incetance varaible
        self.name = name
        self.age = age

    #incetance variable
    def show(self):
        print(self.name, self.age, Student.school_name)

    @classmethod
    def change_school(cls, name):
        cls.school_name = name

    @staticmethod
    def find_notes(subject_name):
        return['chapter 1', 'chapter 2', 'chapter 3']

In [199]:
rio = Student("Rio", 22)

In [200]:
rio.show()

Rio 22 ABC School